:root{
	--mainColor:#1d93957a;
	--secondaryColor:#1d93957a;

	--borderColor:#164D56;

	--mainText:black;
	--secondaryText:black;

	--themeDotBorder:#FFF;

	--previewBg:rgba(57, 167, 187, 0.137);
	--previewShadow:#a4dad6ca;


	--buttonColor:#17a2b8;


}